<div class="container">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
			<h2 class="head-title4">〜 投稿しよう♪ 〜</h2>
		</div>
	</div>
	<%= form_for(@travel, url:travels_path) do |f| %>
		<% if @travel.errors.any? %>
      <h3><%= @travel.errors.count %>eroor</h3>
        <ul>
          <% @travel.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

    <div class="row">
  		<div class="col-xs-1 col-xs-offset-5">
        <p class="travel-form">タイトル</p>
    	</div>
    	<div class="col-xs-6">
              <%= f.text_field :title %>
          </div>
    </div>
    <br>
    
    <div class="row">
    	<div class="col-xs-1 col-xs-offset-5">
    		<p class="travel-form">ないよう</p>
    	</div>
    	<div class="col-xs-6">
    		<%= f.text_area :body ,style:"width:40%;"%>
    	</div>
    </div>
    <br>

    <div class="row">
    	<div class="col-xs-2 col-xs-offset-4">
    		<p class="travel-form2">旅行先住所</p>
    	</div>
    	<div class="col-xs-6">
    		<%= f.text_field :address ,style:"width:40%;"%>
    	</div>
    </div>
    <br>

    <div class="row">
      <div class="col-xs-1 col-xs-offset-5">
        <p class="travel-form">image</p>
      </div>
    	<div class="col-xs-6">
    <%= f.attachment_field :travel_image %>
    	</div>
    </div>
    <br>

    <div class="row">
    	<div class="col-xs-2 col-xs-offset-5">
    <%= f.submit "投稿する", class:"btn btn-primary active",style:"margin-left:40px;padding:10px 50px;"%>
		</div>
	</div>

      <% end %>
</div>



