<div class="container">
 <div class="row">
  <div class="col-xs-12">
    <div class="col-xs-4">
      <div class="userr-image">
        <%= link_to (@travel.user) do %>
          <%= attachment_image_tag @user,:user_image,:fill, 100, 100, fallback: "no_image.jpg",class: "img-responsive img-circle" %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-2">
      <div class="travelerr">
        <p>ニックネーム</p>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="travelerr">
        <%= link_to (@travel.user) do %>
          <p><%= @user.name %></p>
        <% end %>
      </div>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-6" style="padding-left: 400px;">
        <div class="traverr-title">
          <p>タイトル</p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="traverr-title">
          <b><%= @travel.title %></b>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-6" style="padding-left: 400px;">
        <div class="travel-address">
          <b>旅行先住所</b>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="travel-address">
          <b><%= @travel.address %></b>
        </div>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-xs-12">
      <div class="show-image">
          <%= attachment_image_tag @travel,:travel_image,format:"jpg",
                  fallback:"travel-no-image.jpg", class:"travel-image" %>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-xs-2 col-xs-offset-2">
      <%= link_to new_travel_comment_path(@travel),method: :get do %>
        <div class="travels-tables">
          <p>コメントする</p>
        </div>
      <% end %>
    </div>

    <!-- いいね -->
    <div class="col-xs-2">
      <div id="favorites_buttons_<%= @travel.id %>">
             <%= render partial: 'favorites/favorite', locals: { travel: @travel} %>
    </div>
  </div>
    <!-- いいね終わり -->
    <div class="col-xs-2">
      <div class="travel-botann">
        <% if @travel.user == current_user %>
        <%= link_to "投稿を編集する",edit_travel_path(@travel),
                  class: "btn btn-success" %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="travel-botann2">
        <%= link_to "投稿を削除する",travel_path(@travel), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"},
                  class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 col-xs-offset-2">
      <div class="travels-tables">
        <p>ないよう</p>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="travels-tables2">
        <b><%= @travel.body %></b>
      </div>
    </div>
  </div>

          <!-- コメント -->
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="commentts">
        <p><b>コメント一覧</b></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <% @travel.comments.each do |comment| %>
        <div class="col-xs-2 col-xs-offset-3">
          <div class="commentts2">
            <%= link_to (comment.user) do %>
            <b>@<%= comment.user.name%>　➡︎</b>
            <% end %>
          </div>
        </div>
        <div class="col-xs-5">
          <b><%= comment.comment %></b>
        </div>
        <div class="col-xs-2">
          <% if comment.user == current_user %>
            <%= link_to "Destroy", comment_path(comment), class: "btn-sm btn-danger", method: :delete, data:{confirm: "本当に消しますか？"} %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

