<div class="travels">
  <div class="row">
    <div class="col-xs-3">
      <div class="travel__show__image">
        <%= link_to (@travel.user) do %>
          <%= attachment_image_tag @user,:user_image,:fill, 100, 100, fallback: "no_image.jpg",class: "img-responsive img-circled" %>
        <% end %>
      </div>
      <div class="travel__show__name">
        <%= link_to (@travel.user) do %>
          <p><%= @user.name %></p>
        <% end %>
      </div>
    </div>

    <div class="col-xs-9">
      <div class="travel__show__titles">
        <%= @travel.title %>
      </div>
    </div>

    <div class="col-xs-9">
      <div class="travel__show__address">
        ~ <%= @travel.address %> ~
      </div>
    </div>

    <div class="col-xs-12">
      <div class="travel__index__image">
        <%= attachment_image_tag @travel,:travel_image,format:"jpg",fallback:"travel-no-image.jpg", class:"travel-image" %>
      </div>
    </div>

    <!-- いいね -->
    <div class="col-xs-2"style="margin-left:10%;">
      <div id="favorites_buttons_<%= @travel.id %>">
        <%= render partial: 'favorites/favorite', locals: { travel: @travel} %>
      </div>
    </div>
    <!-- いいね終わり -->
    <div class="col-xs-6">
      <div class="travel-edit-button">
        <% if @travel.user == current_user %>
        <%= link_to "編集する",edit_travel_path(@travel),class: "btn btn-success push-btn" %>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="travel-destroy-button">
        <%= link_to "削除する",travel_path(@travel), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"},
                  class: "btn btn-danger push-btn" %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="travel-show-body">
        <%= @user.name %>:　<%= @travel.body %>
      </div>
    </div>

    <!-- コメント -->
    <div class="col-xs-12">
      <div class="travel-comments">
        コメント一覧
      </div>
    </div>

      <% @travel.comments.each do |comment| %>
        <div class="col-xs-3"style="margin-bottom:10px;">
          <div class="user-comments">
            <%= link_to (comment.user) do %>
              <%= comment.user.name%>
            <% end %>
          </div>
        </div>
        <div class="col-xs-7" style="margin-bottom:10px;">
          <b><%= comment.comment %></b>
        </div>
        <div class="col-xs-2" style="margin-bottom:10px;">
          <% if comment.user == current_user %>
            <%= link_to "Destroy", comment_path(comment), class: "btn-danger destroy-btn", method: :delete, data:{confirm: "本当に消しますか？"} %>
          <% end %>
        </div>
      <% end %>
		<div class="col-xs-12">
			<div class="comment-form">
				<%# <%= form_for @comment do |f| %>
        <%= form_for [@travel, @comment] do |f| %>
					<%= f.text_area :comment, class: "form-control", rows: 6 %>
			</div>
					<div class="comment-button">
    				<%= f.submit "コメントする", class:"btn btn-success comment-btn",style:""%>
    			</div>
				<% end %>
		</div>
	</div>
</div>