<div class="souvenir">
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="souvenir__title">
        ③ Souvenir_List
      </div>
		</div>
	</div>

  <div class="row">
    <div class="col-xs-12">
      <div class="">
        <% @sum = 0 %>
        <% @souvenirs.each do |souvenir| %>
          <% @sum += souvenir.count.to_i * souvenir.price.to_i * 1.10 %>
        <% end %>
      </div>
      <div class="col-xs-6">
        <div class="souvenir__total">
          合計金額(税込)
      </div>
      </div>
      <div class="col-xs-6">
        <div class="souvenir__total__price">
          <%= @sum.to_i %> 円
        </div>
      </div>
    </div>
  </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="">商品名</th>
            <th>個数</th>
            <th>価格(税抜き)</th>
            <th></th>
          </tr>
        </thead>
      <tbody>
        <% @souvenirs.each do |souvenir| %>
            <tr>
              <td><%= souvenir.name %></td>
              <td><%= souvenir.count%></td>
              <td><%= souvenir.price %>円</td>
              <div class="souvenir__destroy__btn">
                <td><%= link_to "削除する",shiori_souvenir_path(@shiori,souvenir),
              method: :delete, data: {confirm:"本当に削除してよろしいですか？"},class:"btn btn-danger souvenir__destroy__btn shiori-btns" %></td>
              </div>
            </tr>
        <% end %>
      </tbody>
      </table>

	<%= form_for [@shiori, @souvenir] do |f| %>
		<% if @souvenir.errors.any? %>
      <h3><%= @souvenir.errors.count %>eroor</h3>
        <ul>
          <% @souvenir.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
  <div class="row">
    <div class="col-xs-6">
      <div class="souvenir__name">
        商品名
      </div>
    </div>
    <div class="col-xs-6">
      <%= f.text_field :name,style:"", placeholder:"例：東京ばな奈",class: "form"%>
    </div>
    <br>
    <div class="col-xs-6">
    	<div class="souvenir__name">
        個数
      </div>
    </div>
    <div class="col-xs-6">
    	<%= f.text_field :count ,style:"", placeholder:"※半角で入力",class: "form"%><b> 個</b>
    </div>
    <br>
    <div class="col-xs-6">
      <div class="souvenir__name">
    		単価（税抜き）
      </div>
    </div>
    <div class="col-xs-6">
    	<%= f.text_field :price ,style:"", placeholder:"※半角で入力",class: "form"%><b> 円</b>
    </div>
  </div>
    <br>
  <div class="row">
    <div class="col-xs-12">
      <%= f.submit "Push", class:"btn btn-primary souvenir__btn",style:""%>
    </div>
  </div>
    <% end %>
</div>