<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h2 class="head-title12">〜 しおりを作成しよう♪ 〜</h2>
		</div>
	</div>

	<%= form_for(@shiori, url:shioris_path) do |f| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
    <% if @shiori.errors.any? %>
      <div class="error">
        <div class="error-message">
      <h3><%= @shiori.errors.count %>つのエラーメッセージ</h3>
        </div>
        <ul>
          <% @shiori.errors.full_messages.each do |message| %>
          <div class="message2">
          <li><%= message %></li>
        </div>
    <% end %>
     </div>
        </ul>
          <% end %>
        </div>
      </div>

    <div class="row">
  		<div class="col-xs-4 col-xs-offset-2">
        <p class="travel-form" style="margin-left:33%;">しおりタイトル</p>
    	</div>
    	<div class="col-xs-6">
              <%= f.text_field :title,placeholder:"例：ハワイに行きまーす！",style:"width:55%;margin-top:10px;" %>
          </div>
    </div>
    <br>
    
    <div class="row">
    	<div class="col-xs-3 col-xs-offset-3">
    		<p class="travel-form" style="margin-left:33%;">メモ</p>
    	</div>
    	<div class="col-xs-6">
    		<%= f.text_area :body ,style:"width:55%;margin-top:10px;",placeholder:"例： ◯月◯日出発予定〜。"%>
    	</div>
    </div>
    <br>

    <div class="row">
      <div class="col-xs-3 col-xs-offset-3">
        <p class="travel-form" style="margin-left:20%;">image</p>
      </div>
      <div class="col-xs-6" style="margin-top:10px;">
    <%= f.attachment_field :shiori_image %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2 col-xs-offset-5">
    <%= f.submit "作成する", class:"btn btn-primary active",style:"margin-left:20px;padding:10px 50px;margin-top:15px;"%>
    </div>
  </div>

      <% end %>
</div>