<div class="container">
	<div class="row">
		<div class="col-xs-5 col-xs-offset-4">
			<h2 class="head-title12">〜 しおりを作成しよう♪ 〜</h2>
		</div>
	</div>


	<%= form_for(@shiori, url:shioris_path) do |f| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
		<% if @shiori.errors.any? %>
    <div class="error">
      <div class="error-message">
      <h3><%= @shiori.errors.count %>つのエラーメッセージ</h3>
    </div>
        <ul>
          <% @shiori.errors.full_messages.each do |message| %>
          <div class="message2">
              <li><%= message %></li>
            </div>
          <% end %>
        </ul>
      <% end %>
      </div>
    </div>
  </div>

    <div class="row">
  		<div class="col-xs-2 col-xs-offset-4">
        <p class="travel-form" style="margin-left:33%;">しおりタイトル</p>
    	</div>
    	<div class="col-xs-6">
              <%= f.text_field :title,placeholder:"例：ハワイに行きまーす！",style:"width:40%;" %>
          </div>
    </div>
    <br>
    
    <div class="row">
    	<div class="col-xs-1 col-xs-offset-5">
    		<p class="travel-form">メモ</p>
    	</div>
    	<div class="col-xs-6">
    		<%= f.text_area :body ,style:"width:40%;",placeholder:"例： ◯月◯日出発予定〜。"%>
    	</div>
    </div>
    <br>

    <div class="row">
      <div class="col-xs-1 col-xs-offset-5">
        <p class="travel-form">image</p>
      </div>
      <div class="col-xs-6">
    <%= f.attachment_field :shiori_image %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2 col-xs-offset-5">
    <%= f.submit "作成する", class:"btn btn-primary active",style:"margin-left:40px;padding:10px 50px;"%>
    </div>
  </div>

      <% end %>
</div>