<div class="post__edit">
<div class="container">
  <div class="post__edit__title">Creat_Shiori</div>
    <%= form_for(@shiori, url:shioris_path) do |f| %>
    <div class="row">
      <div class="col-lg-3">
        <p>画像のプレビュー</p>
        <%= f.file_field :shiori_image, class: 'img_field', style: 'display:none;' %>
        <%= attachment_image_tag @travel, :travel_image,fallback: 'no_image.jpg', onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev' %>
      </div>
      <div class="col-lg-7 offset-lg-1">
          <div class="row">
            <div class="col-lg-3">
              <p>しおりタイトル</p>
            </div>
            <div class="col-lg-9">
              <%= f.text_field :title, placeholder:"例：ハワイに行きまーす！",autocomplete: "off", class: "product-form" %>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <p>メモ</p>
            </div>
           <div class="col-lg-9" >
             <%= f.text_area :body, autocomplete: "off",rows:"8",class: "product-introduction-form",placeholder:"例： ◯月◯日出発予定〜。" %>
           </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <%= f.submit "投稿する", class:"btn btn-primary post__edit__btn" %>
      </div>
    </div>
  <% end %>
</div>
</div>