<% breadcrumb :shiori_show %>
<div class="shiori__show">
  <header>
    <nav>
      <ul class="global-nav">
        <li><a href="#schedules">Schedule</a></li>
        <li><a href="#preparations">Preparation</a></li>
        <li><a href="#souvenirs">Souvenir</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="shiori__show__title">
          #<%= @shiori.title %>
        </div>
      </div>
      <div class="col-xs-2">
      <div class="shiori__show__day">
        Create_Days
      </div>
    </div>
    <div class="col-xs-10">
      <div class="shiori__show__days">
        <%= @shiori.created_at.strftime('%Y/%m/%d') %>
      </div>
    </div>
    </div>
  </div>
    <%# <div class="col-xs-5">
      <div class="side-bar"><b>★旅行の準備をしよう!!</b></div>
        <div class="btn-group" style="margin-bottom: 10px;">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      リスト一覧
          <span class="caret"></span>
          </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><%= link_to 'お土産ページ',shiori_souvenirs_path(@shiori)%></li>
              <%# <li role="presentation"><%= link_to '準備ページ',shiori_preparations_path(@shiori)%></li>
              <%# <li role="presentation"><%= link_to 'スケジュールページ',shiori_schedules_path(@shiori)%></li>
            <%# </ul> %>
        <%# </div> %>
    <%# </div> %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="shiori__show__img">
          <%= attachment_image_tag @shiori,:shiori_image,:fill,350,350,
                  fallback:"shiori-no-image.jpg",size:"350x350"  %>
        </div>
      </div>
    </div>

    <div class="col-xs-2">
      <div class="shiori__show__mini__img">
        <%= attachment_image_tag @user,:user_image,:fill, 100, 100, fallback: "no_image.jpg", size: "100x100",class: "img-responsive img-circle" %>
      </div>
    </div>

    <div class="col-xs-10">
      <div class="shiori__show__name">
        User_Name
      </div>
    </div>
    <div class="col-xs-10">
      <div class="shiori__show__names">
        <%= @user.name %>
      </div>
    </div>

    <div class="col-xs-10">
      <div class="shiori__show__memo">
        Memo_✏︎
      </div>
    </div>
    <div class="col-xs-10">
      <div class="shiori__show__memos">
        <%= @shiori.body %>
      </div>
    </div>


    <div class="col-xs-6" style="">
      <div class="shiori__show__edit">
        <%= link_to 'しおりを編集', edit_shiori_path(@shiori), class: "btn btn-success shiori-btn" %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="shiori__show__destroy">
        <%= link_to "しおりを削除する",shiori_path(@shiori), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"},
                  class: "btn btn-danger shiori-btn" %>
      </div>
    </div>

    <div class="col-xs-12" style="">
      <div class="shiori__show__list">
        ↓ 旅を充実させるListの作成 ↓
      </div>
    </div>

    <section id="schedules">
      <%= render partial: 'shioris/schedules' %>
    </section>

    <section id="preparations">
      <%= render partial: 'shioris/preparations' %>
    </section>

    <section id="souvenirs">
      <%= render partial: 'shioris/souvenirs' %>
    </section>



    <%# <div class="col-xs-12">
      <div class="back-button">
        <i class="far fa-hand-point-left"></i>
          <%= link_to "Back",shiori_path(@shiori.id) %>
      <%# </div>
    </div> %>
</div>
