<div class="post__edit">
<div class="container">
  <div class="post__edit__title">Profile編集</div>
  <%= form_with(url: user_path, model: @user, method: :patch, local: true) do |f| %>
    <div class="row">
      <div class="col-lg-3">
        <p>画像のプレビュー</p>
        <%= f.file_field :user_image, class: 'img_field', style: 'display:none;' %>
        <%= attachment_image_tag(@user, :user_image,fallback: 'no_image.jpg', onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev') %>
      </div>
      <div class="col-lg-7 offset-lg-1">
          <div class="row">
            <div class="col-lg-3">
              <p>ニックネーム</p>
            </div>
            <div class="col-lg-9">
              <%= f.text_field :name, autocomplete: "off", class: "product-form" %>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3">
              <p>自己紹介</p>
            </div>
           <div class="col-lg-9" >
             <%= f.text_area :introduce, autocomplete: "off",rows:"8",class: "product-introduction-form" %>
           </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <%= f.submit "変更を保存", class:"btn btn-primary post__edit__btn" %>
      </div>
    </div>
  <% end %>
</div>
</div>