<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<h2 class="head-title7"><b>〜 ＊準備物リスト 〜</b></h2>
		</div>
	</div>
</div>
  <% @preparations.each do |preparation| %>

    <div class="row">
      <div class="col-xs-6">
        <p class="preparation-title">✅</p>
      </div>
      <div class="col-xs-6">
        <div class="new-preparation">
      <b>・<%= preparation.name %></b>
      <%= link_to "編集する",edit_shiori_preparation_path(@shiori.id,preparation),class:"btn btn-warning",style:"font-size:10px;"%>

      <%= link_to "削除する",shiori_preparation_path(@shiori,preparation),method: :delete,class:"btn btn-danger",style:"font-size:10px;"%>
    </div>
    </div>
  </div>
      <% end %>

	<%= form_for(@preparation,url:shiori_preparations_path) do |f| %>
		<% if @preparation.errors.any? %>
      <h3><%= @preparation.errors.count %>eroor</h3>
        <ul>
          <% @preparation.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h2 class="head-title9"><b>〜 準備物を記入しよう 〜</b></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <p class="preparation-title2"><b>持っていく物</b></p>
    </div>
    <div class="col-xs-6">
      <div class="preparation-form">
      <%= f.text_field :name, placeholder:"例：パスポート",style:"width:30%;" %>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-xs-2 col-xs-offset-5">
      <%= f.submit "投稿する", class:"btn btn-primary active",style:"margin-left:85px;padding:5px 40px;margin-top:20px;"%>
    </div>
  </div>
    <% end %>
</div>