<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h2 class="head-title2">〜 ログイン 〜</h2>
    </div>
  </div>
  <P class="head-text">ログイン情報を入力してください。</P>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row">
    <div class="col-xs-2 col-xs-offset-4">
      <%= f.label :email %><br />
    </div>
    <div class="col-xs-6">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",style:"width:45%" %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-xs-2 col-xs-offset-4">
      <%= f.label :password %><br />
    </div>
    <div class="col-xs-6">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div>
  <br>

  <div class="actions">
    <%= f.submit "ログイン" ,class:"btn btn-primary btn-lg",
          style:"padding:5px 30px;margin-bottom:30px " %>
  </div>
    <% end %>

    <div class="row">
    <div class="col-xs-8 col-xs-offset-4">
      <h4><span class="head-text3">登録がお済みでない方</span></h4>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-5">
        <p style="padding-left: 20px">
          <a href="/users/sign_up", style="color: blue; border-bottom: 1px solid blue">
          こちら</a>
          から新規登録を行ってください。
        </p>
      </div>
    </div>
</div>

