<html>
  <head>
    <%# <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" /> %>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />

    <title>TravelDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
        <% if user_signed_in? %>
        <div class="breadcrumbss">
          <%= breadcrumbs separator: " &rsaquo; " %>
        </div> 
        <div class="header-hamburger">
          <div id="hm-icon">
            <a class="menu-trigger">
              <span></span>
              <span></span>
            </a>
          </div>
          <div id="sp-menu">
	          <div class="mobile-menu-title">@Travel_Diary_MENU</div>
	            <nav class="mobile-menu">
		            <ul class="mobile-menu__main">
                  <li class="mobile-menu__item"><%= link_to 'Home', root_path,class:"mobile-menu__page" %></li>
                  <li class="mobile-menu__item"><%= link_to 'About', home_about_path,class:"mobile-menu__page" %></li>
                  <li class="mobile-menu__item"><%= link_to 'MyPage', user_path(current_user),class:"mobile-menu__page" %></li>
                  <li class="mobile-menu__item"><%= link_to '投稿一覧', travels_path,class:"mobile-menu__page" %></li>
                  <li class="mobile-menu__item"><%= link_to 'しおり', shioris_path, class:"mobile-menu__page" %></li>
                  <li class="mobile-menu__item"><%= link_to 'Map検索', maps_index_path, class:"mobile-menu__page" %></li>
                  <li class="mobile-menu__item"><%= link_to 'LogOut', destroy_user_session_path,method: :delete, class:"mobile-menu__page" %></li>
		            </ul>
	            </nav>
          </div>
        </div>
        <% else %>
          <header class="header">
            <nav>
              <ul class="header__ul">
                <li class="header__li"><%= link_to 'Home', root_path %></li>
                <li class="header__li"><%= link_to 'About', home_about_path %></li>
                <li class="header__li btn-filled"><%= link_to 'ログイン', new_user_session_path %></li>
              </ul>
            </nav>
          </header>
        <% end %>
      <div class="wrapper">
        <%= yield %>
      </div>
    <% if user_signed_in? %>
    <% else %>
      <footer class="footer">
        <div class="logos">
          <div class="logo item"></div>
        </div>
        <nav class="footer__nav">
          <ul class="footer__ul">
            <li class="footer__li item"><%= link_to 'HOME', root_path,class:"link" %></li>
            <li class="footer__li item"><%= link_to 'ABOUT', home_about_path,class:"link" %></li>
            <li class="footer__li item"><%= link_to 'LOGIN', new_user_session_path, class:"link" %></li>
            <li class="footer__li item"><a href="#" class="link">NEWS</a></li>
            <li class="footer__li item"><a href="#" class="link">CONTACT</a></li>
          </ul>
          <div class="footer__copyright item">
            &copy; Travel Diary APP created by ryo in 2020
          </div>
        </nav>
      </footer>
    <% end %>
  </body>
</html>